<h1>Greetings, <%= @names %></h1>
<p>Current time: <%= formatted_time(@time) %></p>
<p>This page has been viewed <%= @times_displayed %> time(s)</p>
<p><%= link_to "Google", "https://www.google.com" %></p>
